body{min-width: 1450px;}
.footer-container .lang-block{display: none !important;}
.lang-block .lang-active{display: none;}
.lang-block {float: right; margin: 0; padding-left: 0;}
.lang-block ul{margin: 0; padding: 0;}
.lang-block li{list-style-type: none;}
.lang-block a{  text-transform: uppercase;  color: #626262;    font-family: 'MuseoCyrl', sans-serif;    font-size: 14px;}
.search-btn{padding-top: 5px; display: inline-block;}
.top-container .search{display: none;}
.values-info-container{height: auto;}
.marketing-table.jobs tbody tr td:nth-child(4){width: 50%;}
.table th, .table td{padding: 1.5rem;}
.project-link div{height: 51px; border:0; width: 20%;}
.project-link:nth-child(6) div{border:0;}
.project-link img{opacity: .7}
.project-link img:hover, .project-link img.active{opacity: 1}
.search-btn{  }
.contacts-item-container .redaction-link{font-family: "MuseoCyrl700", sans-serif;}
.contacts-item-container .redaction-phone{font-family: "MuseoCyrl700", sans-serif;}
.advert-contact.phone{font-size: 25px;}
.company-news-widget-container a{text-decoration: none;}
img:hover{opacity: .9}
.company-news-widget-container .card-body img:hover{opacity: .8}
.nav-scroller a:hover{text-decoration: none; opacity: .8}
.border-hr-70{height: 50px;}
.contacts-item-container .redaction-name{height: auto; margin-bottom: 0;}