@font-face {
    font-family: "MuseoCyrl";
    src: url("../fonts/MuseoSansCyrl_700.otf") format("opentype");
}

@font-face {
    font-family: "MuseoCyrl700";
    src: url("../fonts/MuseoCyrl-700.otf") format("opentype");
}

@font-face {
    font-family: "MuseoCyrl";
    font-weight: 300;
    src: url("../fonts/MuseoSansCyrl_300.otf") format("opentype");
}

@font-face {
    font-family: 'icon_fonts';
    src: url("../fonts/icon_fonts/icon_fonts.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

.top-container {
    overflow: hidden;
}

.chzn-single {
    position: relative;
    z-index: 1000;
}

.b-search {
    position: absolute;
    z-index: 999;
    width: 960px;
    height: 162px;
    background-color: #575757;
    top: 0px;
    left: 50%;
    margin-left: -500px;
    padding: 0 20px;
    display: none;
    -webkit-transition: top 0.3s ease 0s;
    -moz-transition: top 0.3s ease 0s;
    -o-transition: top 0.3s ease 0s;
    -ms-transition: top 0.3s ease 0s;
    transition: top 0.3s ease 0s;
}

.b-search__close {
    position: absolute;
    top: 20px;
    right: 20px;
}

.b-search__input {
    width: 851px;
    height: 81px;
    padding: 0 0 0 4px;
    font: 30px/47px 'MuseoCyrl300', sans-serif;
    color: #ffffff;
    border: none;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
    float: left;
    outline: none;
    padding-top: 6px;
}

.b-search__submit {
    float: right;
    border: none;
    margin-top: 38px;
    cursor: pointer;
    outline: none;
    background: none;
}

.b-search__submit:after {
    content: "\e917";
    font-family: 'icon_fonts' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 30px;
    line-height: 30px;
    color: #fff;
}

.b-search__form:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
}

.b-search__close:after {
    content: "\e90f";
    font-family: 'icon_fonts' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
}

.b-search__form {
    width: 100%;
    height: 81px;
    margin-top: 40px;
}

.b-search__fade {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 900;
    background-color: rgba(239, 239, 239, 0.83);
}

.search .btn {
    width: 50px;
    border: 1px solid #ccc;
    height: 38px;
    border-radius: 0;
    border-left: none;
}

.navbar-form {

}

.active-result.result-selected.xxxx {
    display: none !important;
}

.slider-items {
    position: relative;
    z-index: -1 !important;

}

.chzn-results {
    background: #fff;
    z-index: 500 !important;

}

.formlang {
    display: inline !important;
}

h1 {
    display: none;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.top-container {
    padding: 10px;
}

.nav-scroller a {
    color: #626262;
    font-family: 'MuseoCyrl', sans-serif;
    font-size: 14px;
}

.nav-scroller a.active {
    color: #2b8fe1;
}

.site_logo {
    display: inline-block;
}

.mail-link a {
    color: #3192e2;
}

.lang-label {
    color: #626262 !important;
}

.top-container .search-btn img {
    height: 19px;
    width: 17px;
}

.header-container .header-menu {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.content {
    position: relative;;
}

.project-link:first-child div {

}

.project-link {

}

.project-link div {
    min-height: 40px;
    padding: 5px;
    float: left;
    text-align: center;
    width: 16%;
    border-left: 1.5px solid #83848a;
}

.project-link:hover img {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.project-link img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.project-link img.active {
    -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
    filter: grayscale(0);
}

/*? not working last-child ?*/
.project-link:nth-child(6) div {
    border-right: 1.5px solid #83848a;
}

.header-container .header-menu .header-menu-panel.transparent {
    background-color: rgba(51, 51, 49, 0.5);
    min-height: 35px;
}

.header-container .header-menu .header-menu-panel {
    background-color: #333331;
    min-height: 35px;
}

.header-container .header-title {
    color: #ffffff;
    height: 100%;
    font-size: 45px;
    font-family: 'MuseoCyrl', sans-serif;
}

.header-container .header-title div {
    height: 100%;
}

.header-container {
    height: 300px;
    background: url(../images/about-page-bg.png);
    position: relative;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.header-container.project {
    height: 300px;
    background: url(../images/about-page-bg.png);
    position: relative;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-size: 100% !important;
    background-position-y: 75% !important;
}

.header-container.advert {
    height: 300px;
    background: url(../images/advert-bg.png);
    background-size: 100%;
    position: relative;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-size: 103% !important;
    background-position-y: 75% !important;

}

.header-container.jobs {
    height: 300px;
    background: url(../images/jobs-bg.png);
    position: relative;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-size: 103% !important;

}

.header-container.reports {
    height: 300px;
    background: url(../images/reporting-bg.png);
    position: relative;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-size: 103% !important;

}

.header-container.contact {
    height: 300px;
    background: url(../images/contacts-bg.png);
    position: relative;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-size: 103% !important;
}

.footer-container {
    padding: 10px;
    display: block;
    /* margin-top: -150px; */
    position: relative;
    background-color: #e8e8e8;
}

.footer-container .footer-label {
    font-family: 'MuseoCyrl', sans-serif;
    color: #626262;
    font-weight: 300;
    font-size: 14px;
}

.section-container {
    overflow: hidden;
    /* min-height: 100%; */
    box-sizing: border-box;
    /* padding-bottom: 165px; */
}

.section-container .section-body {

}

.section-container .section-title {
    font-size: 35px;
    color: #1d1d1b;
    font-family: 'MuseoCyrl700', sans-serif;
}

.section-container .section-footer {
    position: relative;
}

.bold-label-700 {
    color: #575756;
    font-size: 18px;
    font-family: 'MuseoCyrl700', sans-serif;
}

.label-300 {
    padding: 20px 0;
    color: #575756;
    font-size: 14px;
    font-family: 'MuseoCyrl', sans-serif;
    font-weight: 300;
}

.hr-2 {
    width: 30px;
    border-width: 2px;
    border-color: #1d1d1b;
}

.hr-3 {
    width: 100px;
    border-width: 2px;
    border-color: #1d1d1b;
    margin-bottom: 0;
}

.hr-3.white {
    border-color: #ffffff;
}

.slider-container {
    height: 600px;
    position: relative;
}

.slider-container .slider-items {
    height: 100%;
}

.slider-container .slider-items .slider-item {
    background-size: 100% !important;
    background-position-y: -145px !important;
    height: 100%;
    background-repeat: no-repeat !important;
}

.slider-container .slider-items .slider-item .slider-content {
    text-align: center;
    overflow: hidden;
    height: 100%;
}

.values-info-container {
    width: 250px;
    left: 136px;
    position: absolute;
    top: 35px;
    height: 340px;
    background: rgba(0, 0, 0, 0.5);
}

.values-info-container .values-panel span {
    color: #ffffff;
}

.values-info-container .values-panel {
    font-size: 14px;
    font-family: 'MuseoCyrl', sans-serif;
    color: #ffffff;
    font-weight: 300;
}

.site-advert-contacts {
    position: absolute;
    bottom: 0;
    right: 129px;
    width: 256px;
    background: #ffffff;
    height: 85px;
}

.site-advert-contacts .block-title {
    font-size: 14px;
    background: #000000;
    font-family: 'MuseoCyrl', sans-serif;
    color: #ffffff;
    height: 35px;
    width: 100%;
}

.site-list-container {
    position: absolute;
    top: 0;
    right: 129px;
    width: 256px;
    height: 480px;
}

.site-list-container .block-title {
    font-size: 14px;
    background: #000000;
    font-family: 'MuseoCyrl', sans-serif;
    color: #ffffff;
    height: 30px;
    width: 100%;
}

.site-list-container ul {
    margin: 0;
    padding: 0;
    background: #ffffff;
}

.site-list-container ul li {
    list-style-type: none;
}

.site-list-container ul li div {
    width: 85%;
    margin: 0 auto;
    cursor: pointer;
    color: #626262;
    font-family: 'MuseoCyrl', sans-serif;
    font-weight: 300;
    padding-top: 7px;
    padding-bottom: 6px;
    border-bottom: 1px solid #d3d1d1;
}

.site-list-container ul li:hover {
    background: #e8e8e8;
}

.site-list-container ul li:hover img {
    opacity: .5;
}

.site-list-container ul li.active img {
    opacity: 1;
    filter: opacity(0.5) drop-shadow(0 0 0 #3192e2);
}

.site-list-container ul li.active {
    background: #e8e8e8;
}

.site-list-container ul li img {
    width: 21px;
    height: 21px;
    filter: opacity(0.5) drop-shadow(0 0 0 #3192e2);
    opacity: 0;
}

.site-list-container ul li a:hover {
    text-decoration: none;
}

.site-list-container ul li a {
    color: #626262;
    width: 220px;
    font-size: 14px;
}

.company-description-label {
    font-size: 24px;
    color: #575756;
}

.company-factor-values-container {
    height: 350px;
    background: url(../images/bg-company-factor.jpg);
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-size: 103% !important;
    background-color: #1d1d1b;
}

.company-factor-values-container .company-factor-name {
    color: #ffffff;
    width: 200px;
    margin: 0 auto;
    font-size: 18px;
}

.company-factor-values-container .company-factor-value {
    color: #ffffff;
    font-size: 59px;
    font-family: 'MuseoCyrl', sans-serif;
}

.company-factor-values-container .company-factor-description {
    color: #ffffff;
    font-family: "MuseoCyrl", sans-serif;
    font-weight: 300;
}

.company-news-widget-container .news-description {
    font-family: "MuseoCyrl", sans-serif;
    font-weight: 300;
    margin-top: 4px;
    color: #575756;
    font-size: 14px;
    margin-bottom: 2px;
}

.company-news-widget-container .news-public-date {
    font-family: "MuseoCyrl", sans-serif;
    color: #575756;
    font-size: 14px;
}

.next-items-btn {
    color: #878787;
    font-size: 15px;
    width: 160px;
    border: 1px solid #dddddd;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    cursor: pointer;
}

.next-items-btn a {
    font-size: 15px;
    color: #878787;

}

.next-items-btn a:hover {
    text-decoration: none;
}

.next-items-btn:hover {
    background: #e8e8e8;

}

.advert-contact.mail-link {
    color: #2b8fe1;
    font-size: 20px;
    font-family: "MuseoCyrl400", sans-serif;
}

.advert-contact.service-name {
    font-size: 18px;
}

.f-14 {
    font-size: 14px !important;
}

.f-16 {
    font-size: 16px !important;
}

.f-15 {
    font-size: 15px !important;
}

.advert-contact.phone {
    line-height: 1;
    color: #1d1d1b;
    font-size: 35px;
    font-family: "MuseoCyrl700", sans-serif;
}

.marketing-table .thead-dark th {
    color: #b2b2b2;
    background-color: #333331 !important;
    font-family: "MuseoCyrl", sans-serif;
    font-weight: 300;
    font-size: 12px;
}

.marketing-table tbody tr {
    cursor: pointer;

}

.marketing-table tbody tr td {
    vertical-align: middle;
    font-family: "MuseoCyrl", sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #626262;
}

.marketing-table tbody tr td .download-label {
    padding-left: 10px;
}

.marketing-table tbody tr .logo-portal {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.marketing-table tbody tr:hover {
    background: #e5e5e5;
}

.marketing-table tbody tr:hover .logo-portal {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.marketing-table.jobs tbody tr td:nth-child(4) {
    width: 30%;
}

.extra-parameters-container {
    background: #f2f2f2;
}

.extra-parameters-container .extra-parameters-item {
    padding-top: 15px;
}

.extra-parameters-container .extra-parameters-item .parameter-name {
    font-family: "MuseoCyrl700", sans-serif;
}

.extra-parameters-container .extra-parameters-item .parameter-separator {
    height: 40px;
    width: 1.5px;
    margin-left: 2px;
    background: #626262;
}

.extra-parameters-container .extra-parameters-item .parameter-content {
    padding: 0px;
}

.messages-container {
    background-color: #333331;
    color: #b2b2b2;
    text-align: center;
    padding: 5px;
}

.download-link {
    font-size: 14px;
    color: #2b8fe1;
    margin-top: 5px;
}

.contacts-item-container {
    position: relative;
    margin-bottom: 50px;
}

.contacts-item-container .redaction-name {
    font-family: "MuseoCyrl400", sans-serif;
    color: #575756;
    font-size: 16px;
    height: 35px;
    margin-bottom: 10px;
}

.contacts-item-container .redaction-phone {
    font-family: "MuseoCyrl", sans-serif;
    font-weight: 300;
}

.contacts-item-container .redaction-border {
    width: 100%;
    height: 30px;
    border-left: 1.5px solid #1d1d1b;
}

.border-hr-30 {
    width: 100%;
    height: 30px;
    border-left: 1.5px solid #1d1d1b;
}

.border-hr-50 {
    width: 100%;
    height: 50px;
    border-left: 1.5px solid #1d1d1b;
}

.border-hr-70 {
    width: 100%;
    height: 70px;
    border-left: 1.5px solid #1d1d1b;
}

.container-404 {
    background: #1d1d1b;
}

.contacts-item-container .redaction-link a {
    color: #2b8fe1;
}

.contacts-item-container .redaction-link span {
    color: #888;
    float: right;
    margin-right: 40px;
}

.social-icons-container {
    margin-top: 60px;
}

.social-icons-container a:hover img {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.social-icons-container a {
    float: right;
}

.social-icons-container img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.extra-parameters-block.hide {
    display: none;
}

.accordion-toggle-btn.active {
    background-position-x: 4px;
}

.accordion-toggle-btn {
    width: 22px;
    height: 20px;
    cursor: pointer;
    background: url('../images/plus-close-ico.png') no-repeat;
    background-position-x: -17px;
}

.site-search {

}

#searchForm .b-search {
    position: static;
    display: block;
    margin: 0;
}

.contacts-item-container .redaction-phone {
    font-family: "MuseoCyrl200", sans-serif !important;
    font-size: 26pt !important;
}

.contacts-item-container .redaction-link {
    font-family: "MuseoCyrl400", sans-serif !important;
    margin-top: -8px;
}

.advert-contact.phone {
    font-size: 32px !important;
}

.pt-6,
.py-6 {
    padding-top: 6rem !important;
}

.search-content .b-search {
    position: static;
    display: block;
    margin: 0;
    width: 100%;
}

.search-content .b-search .b-search__form {
    margin-top: 0px;
    width: 100%;
    height: auto !important;
    padding-top: 40px;
    border-bottom: 1px solid #ffffff;
}

.search-content .b-search__input {
    border: none;
}

.search-content .filter-pane {
    margin: 0;
    width: 100%;
}

.filter-pane {
    background-color: #efefef;
    height: 115px;
    position: relative;

}

.filter-pane__inner {
    width: 960px;
    margin: 0 auto;
    padding-top: 30px;
}

.filter-pane__title {
    color: #5B6972;
    font: 11px/13px 'MuseoCyrl700', sans-serif !important;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
}

.filter-pane__items {
    font-size: 0;
}

.filter-pane__items .item.active {
    background-color: #A5ADBA;
    color: #FFFFFF;
}

.filter-pane__items .item {
    border: 1px solid #A5ADBA;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
    color: #A5ADBA;
    display: inline-block;
    font: 12px/30px 'MuseoCyrl700', sans-serif !important;
    height: 30px;
    letter-spacing: 0.08em;
    margin-right: 10px;
    padding: 0 15px;
    text-transform: uppercase;
    vertical-align: top;
}

.search-result {
    padding: 0 20px;
}

.search-result__summary {
    margin-top: 29px;
    font: 16px/20px 'MuseoCyrl200', sans-serif !important;
    color: #58616c;
}

.search-result__list {
    margin-top: 21px;
    padding: 0;
}

.search-link {
    color: #272b2e;
}

.search-result .search-link:hover {
    color: #696869;
}

.search-result__item {
    padding-bottom: 25px;
    margin-bottom: 29px;
    border-bottom: 1px solid #e7e8e8;
}

.search-result__item .article-title {
    display: block;
    font: 20px/24px 'MuseoCyrl200', sans-serif !important;
    margin-bottom: 8px;
}

.search-result__item .article-content {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 9px;
    font-family: 'MuseoCyrl200', sans-serif !important;
}

.search-result .highlight {
    color: #4c76a0;
}

.search-result__item_info {
    font-size: 11px;
    line-height: 14px;
    color: #7c878e;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.search-result__item_info span {
    display: inline-block;
    vertical-align: top;
}

.search-result__item_info .date {
    margin-right: 23px;
}

ol, ul {
    list-style: none;
    margin: 0px;
}

.search-result__summary strong {
    font-weight: normal;
}

.search-content {
    margin: 10px 0 10px 0;
}